* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(169, 225, 243);
}

.side-bars {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(24, 24, 24);
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35 px rgba(255, 255, 255, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 50px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}

a {
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: grey;
}

.side-bars:hover {
    width: 250px;
    transition: all 1s ease;
}

.logout {
    position: absolute;
    bottom: 0;
}

#contentfitur {
    margin-left: 10rem;
    margin-top: 3rem;
}

header h1 {
    font-size: 3rem;
    color: #444444;
    margin: 0;
}